#resume {
    background-color: var(--verdigris);
    height: calc(50vh + 4*1900px);
    padding-top: 50vh;
    box-shadow: 2px -5px 20px 0 var(--charleston-green);
}

.resumeDetails {
    position: fixed;
    top: 10%;
    width: 100vw;
}

.resumeTitle {
    text-align: center;
    font-size: 72px;
    vertical-align: middle;
    top: 47.6px;
    z-index: 2;
}

@media screen and (min-width: 768px) { /* between tablet and laptop */
    .resumeDetails {
        position: fixed;
        top: 25%;
    }

    .resumeTitle {
        text-align: center;
        font-size: 60px;
        vertical-align: middle;
        position: -webkit-sticky;
        position: sticky;
        top: 47.6px;
        z-index: 2;
    }
}

@media screen and (min-width: 1024px) { /* laptop or bigger */
    .resumeDetails {
        position: fixed;
        top: 30%;
        width: 768px;
        transform: translateX(-50%);
        left: 50vw;
    }

    .resumeTitle {
        text-align: center;
        font-size: 72px;
        vertical-align: middle;
        position: -webkit-sticky;
        position: sticky;
        top: 47.6px;
        z-index: 2;
    }
}