//Import the new customization we've made in ../antd.customize.less
@import "~antd/dist/antd.less";
@import "./assets/fonts/stylesheet.css";

/* Website Color Palette */
:root {
	--tertiary: hsla(196, 29%, 13%, 1);
	--secondary: hsla(178, 48%, 32%, 1);
	--primary: hsla(177, 50%, 46%, 1);
	--highlight: hsla(177, 43%, 91%, 1);
	--white: hsla(180, 100%, 100%, 1);
}

/* codeVs Dark+ Palette */
.codeView {
	font-family: "Source Code Pro";
}
.display {
	color: #1e1e1e !important;
}
.ifReturn {
	color: #c586c0 !important;
	display: inline;
}
.string {
	color: #ce9178 !important;
	display: inline;
}
.function {
	color: #dcdcaa !important;
	display: inline;
}
.constant {
	color: #9cdcfe !important;
	display: inline;
}
.capitalDiv {
	color: #4ec9b0 !important;
	display: inline;
}
.lowerDiv {
	color: #4fc1ff !important;
	display: inline;
}
.syntax {
	color: #ffffff !important;
	display: inline;
}
.number {
	color: #b5cea8 !important;
	display: inline;
}
.ltgt {
	color: #c8c8c8 !important;
	display: inline;
}
.curly {
	color: #569cd6 !important;
	display: inline;
}
